{% extends "base.html" %}
{% load i18n %}
{% load form_tags %}

{% block title %}
    {% trans 'Checkout' %}
{% endblock %}

{% block content %}
<section class="container my-5">
  <h4 class="fw-bold mb-4">{% trans 'Checkout' %}</h4>
  <div class="row g-4">
    
    <!-- القسم الأيسر: نموذج الدفع -->
    <div class="col-12 col-lg-6 ">
      <form method="post" class="p-3 border rounded-3 shadow-sm bg-white order-create">
        {% csrf_token %}
        <div class="mb-3">
          <label for="first_name" class="form-label fw-medium fs-small">{% trans 'First Name' %}</label>
          {{ form.first_name|add_class:"form-control py-3 fs-small" }}
        </div>

        <div class="mb-3">
          <label for="last_name" class="form-label fw-medium fs-small">{% trans 'Last Name' %}</label>
          {{ form.last_name|add_class:"form-control py-3 fs-small" }}
        </div>

        <div class="mb-3">
          <label for="email" class="form-label fw-medium fs-small">{% trans 'Email' %}</label>
          {{ form.email|add_class:"form-control py-3 fs-small" }}
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label fw-medium fs-small">{% trans 'Phone' %}</label>
          {{ form.phone|add_class:"form-control py-3 fs-small" }}
        </div>

        <div class="mb-3">
          <label for="address" class="form-label fw-medium fs-small">{% trans 'Address' %}</label>
          {{ form.address|add_class:"form-control py-3 fs-small" }}
        </div>

        <div class="mb-3">
          <label for="residence_place" class="form-label fw-medium fs-small">{% trans 'Residence Place' %}</label>
          {{ form.residence_place|add_class:"form-control py-3 fs-small" }}
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-6 mb-3 mb-md-0">
            <label for="postal_code" class="form-label fw-medium fs-small">{% trans 'Postal Code' %}</label>
            {{ form.postal_code|add_class:"form-control py-3 fs-small" }}
          </div>
          <div class="col-12 col-md-6">
            <label for="city" class="form-label fw-medium fs-small">{% trans 'City' %}</label>
            {{ form.city|add_class:"form-control py-3 fs-small" }}
          </div>
        </div>

        <button type="submit" class="btn-main w-100 py-3">{% trans 'Place Order' %}</button>
      </form>
    </div>

    <!-- القسم الأيمن: معلومات الطلب -->
    <div class="col-12 col-lg-6">
      <div class="order-info p-4 border rounded-3 shadow-sm bg-light h-auto">
        <h5 class="fw-bold mb-3">{% trans 'Your order' %}</h5>
        <ul class="list-unstyled">
          {% for item in cart %}
            <li class="d-flex justify-content-between mb-2">
              <span>{{ item.quantity }}x {{ item.product.name }}</span>
              <span>
                ${{ item.price }}  
                <small class="text-muted">
                  + {{ item.tax_amount }} {% trans "tax" %}
                </small>
              </span>
            </li>
          {% endfor %}
        </ul>
        <hr>
        <p class="d-flex justify-content-between mb-1">
          <span>{% trans 'Subtotal' %}</span>
          <span>${{ cart.get_subtotal_price }}</span>
        </p>
        <br>
        <p class="d-flex justify-content-between mb-1">
          <span>{% trans 'Taxes' %}</span>
          <span>${{ cart.get_total_tax }}</span>
        </p>
        <br>
        <p class="fw-bold d-flex justify-content-between mt-2">
          <span>{% trans 'Total with tax' %}</span>
          <span>${{ cart.get_total_price_with_tax|floatformat:2 }}</span>
        </p>
      </div>
    </div>


  </div>
</section>
{% endblock content %}
